@using ExtremeToys.Models

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<div class="jumbotron">
    <h1 class="display-4">Hello</h1>
    <p class="dx-timezone-display-name">Coding Wars</p>
</div>

<svg xmlns="http://www.w3.org/2000/svg"></svg>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            Bootstrap with React
        </div>
        <div class="col-md-4">
            DevExtreme Styles and Scripts
        </div>
        <div class="col-md-4">
            Clean data integration
        </div>
    </div>
</div>